* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.container > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

div#home {
    background-image: url(pictures/start.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#first-project {
    justify-content: flex-start;
    display: flex;
}
.project-one-picture {
    width: 30%;
    height: 80%;
    background-image: url(pictures/694281_1584394475.jpg);
    background-position: center;
    margin-left: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    z-index: 1;
    transition: opacity, 2s;
}

.two-text-container, .one-text-container {
    height: 280px;
    width: 30%;
    background: linear-gradient(90deg, #f598a8, #f6edb2);
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    right: 30%;
    z-index: -1;
    opacity: 0.2;
    transition: left,  width,  2s;
    overflow: hidden;
}

#second-project {
    justify-content: flex-end;
}
.project-two-picture {
    width: 30%;
    height: 80%;
    margin-right: 70px;
    background-image: url(pictures/unnamed.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    z-index: 1;
    transition: opacity, 2s;
}
.two-text-container{
    background: linear-gradient(90deg, #aea4e3, #d3ffe8);
    left: 30%;
}