* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: top 2s;
}

.container > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}
h1 {
    font-size: 50px;
}
div#home {
    background-image: url(pictures/peakpx.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}
#first-project {
    justify-content: flex-start;
}
.picture {
    width: 46%;
    height: 60%;
    background-image: url(pictures/kisspng-laptop-macbook-pro-macbook-air-apple-computer-screen-5acd2fc7940699.8851771815233965516063.png);
    background-position: center;
    margin-left: 70px;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.2;
    z-index: 1;
    transition: opacity, 0.3s;
    border-radius: 5px;
}

.text {
    height: 27%;
    width: 30%;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 0;
    opacity: 0;
    transition: left, width, 2s;
    overflow: hidden;
}

#second-project,
#fourth-project,
#sixth-project {
    justify-content: flex-end;
}
.project-two-picture {
    margin: 0px 70px 0px -87px;
}
.two-text-container {
    background: linear-gradient(to right, #c0c0aa, #1cefff);
    left: 30%;
}
.one-text-container {
    background: linear-gradient(to right, #ef3b36, #ffffff);
    right: 30%;
}
.three-text-container {
    background: linear-gradient(to right, #108dc7, #ef8e38);
    right: 30%;
}
.four-text-container {
    background: linear-gradient(to right, #fffc00, #ffffff);
    left: 30%;
}
.five-text-container {
    background: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
    right: 30%;
}
.six-text-container {
    background: linear-gradient(to right, #a8ff78, #78ffd6);
    left: 30%;
}
video {
    position: relative;
    top: 31px;
}
.btn {
    width: 100px;
    height: 50px;
    border: none;
    position: fixed;
    top: calc(100vh - 70px);
    left: calc(50vw - 25px);
    font-size: 60px;
    z-index: 1;
    color: #d3d3d38c;
    background-color: #f0f8ff00;
    cursor: pointer;
}
.btn:hover {
    color: rgb(158, 156, 156);
}
@media (max-width: 1200px) {
    .text {
        height: 20%;
    }
    video {
        top: 20%;
        height: 48%;
    }
    .five-text-container h1 {
        width: 867px;
    }
    .six-text-container h1 {
        width: 607px;
        font-size: 43px;
    }
}
@media (max-width: 992px) {
    .container > div {
        justify-content: space-between;
    }
    .picture {
        background-image: none;
        position: static;
        display: block;
        width: 100vw;
        height: 50vh;
        margin: 0;
    }
    #first-project {
        flex-direction: column;
        justify-content: space-between;
    }
    .text {
        position: static;
        width: 100vw !important;
        opacity: 1;
        right: 0px !important;
        height: 32%;
        transition: none;
    }
    video {
        top: 0px;
        height: 73vh;
        width: 100%;
    }
    #second-project,
    #fourth-project,
    #sixth-project,
    #third-project, #fiveth-project {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .btn {
        left: calc(50vw - 54px);
    }
    .five-text-container h1 {
        width: 100%;
    }
    .six-text-container h1 {
        width: 100%;
    }
    
}
@media (max-width: 767) {
    .btn {
        left: calc(50vw - 54px);
        top: calc(100vh - 48px);
    }
}
